body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}
li{list-style:none}
img{border:none}
textarea{resize:none}
body{color:#000;background:#fff;word-break:break-all;word-wrap:break-word;}
body,input,textarea{font-size:12px;font-family:Verdana,"微软雅黑";}
i,em{font-style:normal;}
a{color:#000;text-decoration:none;outline:none}
.wrap{width:1200px;margin:0 auto;text-align:left;position:relative}
/*clearfix*/
.clearfix:after,.wrap:after,.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix,.wrap,.cl{*+height:1%}
.fl,.z{float:left; display:inline;}
.fr,.y{float:right; display:inline;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px; line-height:24px;}
a,button{cursor:pointer;}
.show{display:block;}
.hide{display:none;}
.bor{border:1px solid #7c7c7c;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.bold{font-weight:bold;}
strong{font-weight:normal;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.cblue{color:#34386c;}
.cyel{color:#7edab2;}